div{
    background-color:black;
    width:50%;
    margin-left: 25%;
    padding-right: 20px;

   
}
h1{
    color:white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-left: 5px;
    font-size: 20pt;
    text-transform: uppercase;
}
img{
    width:100%;
    border:10px solid green;
   
    
   
}
p{
    color:white;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 35px;
 
    
}